@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;700;900&display=swap');



header {
    background-color: #F0EFE9;
    display: flex;
    padding: 20px;
    align-items: center;
}

.container {
    display: flex;

    gap: 60px;
    align-items: center;

    .social-media {
        font-size: 24px;

    }

    @media (max-width: 992px) {
        display: flex;
        justify-content: space-between;
    }
}

.bars {
    justify-self: end;
    border: none;
    background-color: transparent;

    @media (min-width: 992px) {
        display: none;
    }
}

.top-menu {
    vertical-align: bottom;
    display: none;

    @media (min-width: 992px) {
        display: block;

    }
}

.contact {
    justify-items: center;
    display: flex;
    border-bottom: 1px solid #DAD9D3;
    padding-bottom: 10px;
    flex: 1px;

    .info-box {
        margin-right: 30px;
        padding-right: 30px;
        border-right: 1px solid #DAD9D3;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 300;


        i {
            margin-right: 5px;
            font-size: 1.2em;
            font-weight: 1em;

        }

        &.last {
            border: none;

        }
    }
}

.bottom-menu {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;


    .btn {

        color: #191919;
        background-color: #f9d783;
        border: none;
        text-decoration: none;
        align-items: center;
        border-radius: 40px;
        padding-inline: 34px;
        margin-top: 8px;

        &:hover {
            background-color: gray;

        }
    }

}

.menu-option {
    display: flex;
    gap: 35px;
    align-items: center;
    padding-top: 10px;

    a {
        justify-content: space-between;
        text-decoration: none;
        color: #191919;

        &:hover {
            color: rgb(97, 97, 97);
            border-bottom: 2px solid #191919;
            border-radius: 4px;
            border-width: 3px;
        }
    }
}

.articles {
    background-color: #F0EFE9;

    .container {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 112px;

        .pageoptions {

            a {
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 300;
                color: #191919;
                text-decoration: none;

                &:hover {
                    color: grey;

                    &:active {
                        color: #21191912;
                    }
                }
            }
        }

    }

    .newstext {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 56px;
        padding-bottom: 105px;
        margin-top: -82px;


    }
}

.content {
    width: 100%;
    height: auto;
    justify-content: center;

    .container {
        font-family: 'inter';
        font-weight: 300;
        font-size: 16px;



        .ournews {
            display: flex;
            margin-top: 147px;
            margin-right: auto;
            font-family: 'DM Sans';
            font-size: 45px;
            font-weight: bold;
        }
    }

    .grid-container {
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        background-color: #ffffff;
        padding: 10px;

        .bot-nav {
            justify-content: center;
            text-align: end;


            a {
                border: 1px solid gray;

                border-radius: 10px;
                padding: 14px 16px 9px 16px;

            }

            .next {
                text-decoration: none;
                color: #191919;

                &:hover {
                    color: #F0EFE9;
                    background-color: #191919;
                }

            }


        }

        @media (max-width: 819px) {
            display: inline-block;
            justify-content: center;
        }
    }

    .grid-woman {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: start;
        padding: 47px 22px;
        font-size: 16px;


        .bold {
            font-family: 'DM Sans';
            font-size: 22px;
            font-weight: bold;
        }

        .responsive {
            max-width: 100%;
            height: auto;
        }
    }


}