@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;700;900&display=swap");
header {
  background-color: #F0EFE9;
  display: flex;
  padding: 20px;
  align-items: center;
}

.container {
  display: flex;
  gap: 60px;
  align-items: center;
}
.container .social-media {
  font-size: 24px;
}
.container .social-media a {
  color: #191919;
}
.container .social-media a:hover {
  color: gray;
}
.container .social-media a:hover:active {
  color: #f9d783;
}
@media (max-width: 992px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.bars {
  justify-self: end;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  .bars {
    display: none;
  }
}

.top-menu {
  vertical-align: bottom;
  display: none;
}
@media (min-width: 992px) {
  .top-menu {
    display: block;
  }
}

.contact {
  justify-items: center;
  display: flex;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
  flex: 1px;
}
.contact .info-box {
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.contact .info-box i {
  margin-right: 5px;
  font-size: 1.2em;
  font-weight: 1em;
}
.contact .info-box.last {
  border: none;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}
.bottom-menu .btn {
  color: #191919;
  background-color: #f9d783;
  border: none;
  text-decoration: none;
  align-items: center;
  border-radius: 40px;
  padding-inline: 34px;
  margin-top: 8px;
}
.bottom-menu .btn:hover {
  background-color: gray;
}

.menu-option {
  display: flex;
  gap: 35px;
  align-items: center;
  padding-top: 10px;
}
.menu-option a {
  justify-content: space-between;
  text-decoration: none;
  color: #191919;
}
.menu-option a:hover {
  color: rgb(97, 97, 97);
  border-bottom: 2px solid #191919;
  border-radius: 4px;
  border-width: 3px;
}

@media (max-width: 992px) {
  .imgman {
    display: none;
  }
}

.bold-font {
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-size: 76px;
}
@media (min-width: 240px) {
  .bold-font {
    font-size: 34px;
    justify-content: center;
  }
}
@media (min-width: 820px) {
  .bold-font {
    font-size: 50px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .bold-font {
    font-size: 60px;
    justify-content: center;
  }
}

.font {
  justify-content: center;
}

.thin-font {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
@media (min-width: 240px) {
  .thin-font {
    font-size: 10px;
    justify-content: center;
  }
}
@media (min-width: 820px) {
  .thin-font {
    font-size: 12px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .thin-font {
    font-size: 16px;
    justify-content: center;
  }
}

.second-part {
  display: flex;
  justify-content: center;
  background-color: #F0EFE9;
  padding-bottom: 20px;
}
.second-part .under {
  justify-content: start;
  margin-top: 30px;
  display: flex;
}
.second-part .under .btn2 {
  color: #191919;
  background-color: transparent;
  border: 1px solid 191919;
  text-decoration: none;
  align-items: center;
  border-radius: 40px;
  padding-inline: 34px;
  margin-top: 8px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}
.second-part .under .btn2:hover {
  background-color: gray;
}
.second-part .under .btn1 {
  justify-content: center;
  color: #191919;
  background-color: #f9d783;
  border: none;
  text-decoration: none;
  padding: 10px;
  align-items: center;
  border-radius: 33px;
  padding-inline: 20px;
  margin-top: 8px;
  margin-right: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.second-part .under .btn1:hover {
  color: #191919;
  background-color: gray;
}

.container any .man-img {
  margin-right: -50px;
  align-items: center;
}
@media (max-width: 1200px) {
  .container any .man-img {
    display: none;
  }
}

@media (min-width: 200px) {
  .container any .bold-font {
    font-size: 14px;
  }
}
.logos .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 98px;
}
@media (max-width: 992px) {
  .logos .container {
    display: none;
  }
}

.features {
  padding-top: 106px;
  padding-bottom: 120px;
}
@media (max-width: 821px) {
  .features {
    display: none;
  }
}
.features .container {
  padding: 50px;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "our-accounting business-ad startup" "our-accounting financial risk";
}
.features .container .our-accounting {
  grid-area: our-accounting;
}
.features .container .our-accounting p {
  color: #F94D1C;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}
.features .container .our-accounting .bold {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  color: #191919;
}
.features .container .our-accounting .btn {
  justify-content: center;
  color: #191919;
  background-color: #f9d783;
  border: none;
  text-decoration: none;
  padding: 10px;
  align-items: center;
  border-radius: 33px;
  padding-inline: 120px;
  margin-top: 8px;
  margin-right: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.features .container .our-accounting .btn:hover {
  color: #191919;
  background-color: gray;
}
.features .container .business-ad {
  grid-area: business-ad;
}
.features .container .business-ad p {
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.features .container .business-ad .bold {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  color: #191919;
}
.features .container .startup {
  grid-area: startup;
}
.features .container .startup p {
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.features .container .startup .bold {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  color: #191919;
}
.features .container .financial {
  grid-area: financial;
}
.features .container .financial p {
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.features .container .financial .bold {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  color: #191919;
}
.features .container .risk {
  grid-area: risk;
}
.features .container .risk p {
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.features .container .risk .bold {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  color: #191919;
}

.samantha {
  padding-bottom: 120px;
}
.samantha .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.samantha .container .container {
  justify-content: start;
}
.samantha .container .container .womanimg {
  position: relative;
}
.samantha .container .container .border {
  background-color: #BEEBFF;
  border: 1px solid black;
}
.samantha .container .container .container {
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 368px;
  height: 180px;
  position: absolute;
  margin-top: 350px;
  margin-left: -60px;
}
.samantha .container .container .container .founder {
  color: #F94D1C;
}
.samantha .container .container .container .lorem {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.samantha .container p {
  color: #F94D1C;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}
.samantha .container .bold {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  color: #191919;
}
.samantha .container .lorem {
  color: #191919;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 300;
}
.samantha .container .btn {
  font-family: "Inter";
  font-weight: 400;
  color: #ffffff;
  background-color: #191919;
  border: none;
  text-decoration: none;
  align-items: center;
  border-radius: 40px;
  padding-inline: 34px;
  margin-top: 16px;
}
.samantha .container .btn:hover {
  background-color: gray;
}
.samantha .container .intro-button {
  display: flex;
  align-items: center;
  gap: 40px;
}
.samantha .container .intro-button .intro {
  margin-top: 15px;
}

.our-service {
  background-color: #F0EFE9;
  padding-top: 128px;
  padding-bottom: 120px;
}
.our-service .container {
  display: block;
}
.our-service .container .bold {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  color: #191919;
}
.our-service .container p {
  color: #F94D1C;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
}
.our-service .wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  justify-content: center;
}
.our-service .wrapper-grid .container {
  background-color: #FFFFFF;
  justify-content: center;
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 50px;
}
.our-service .wrapper-grid .container:hover {
  background-color: #F9D783;
}
.our-service .wrapper-grid .container .bold {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  color: #191919;
  padding-bottom: 24px;
  padding-top: 25px;
}
.our-service .wrapper-grid .container hr {
  width: 39px;
  border: 1px solid black;
}
.our-service .wrapper-grid .container .btn {
  color: #FFFFFF;
  background-color: #191919;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
.our-service .wrapper-grid .container .btn:hover {
  color: #191919;
  background-color: #FFFFFF;
}

.browse .container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.browse .container button {
  background-color: transparent;
  color: #191919;
  padding: 13px;
  align-items: center;
  border-radius: 40px;
  padding-inline: 40px;
  margin-top: 8px;
}
.browse .container button:hover {
  background-color: gray;
}

.why-us {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 120px;
}
.why-us .container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 66px;
}
.why-us .container .container .container {
  display: grid;
  gap: 110px;
  margin-top: -40px;
}
.why-us .container .text {
  margin-right: 400px;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  margin-left: -30px;
}
.why-us .container .text .thin {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
}
.why-us .container p {
  color: #F94D1C;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}
.why-us .container .bold {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  color: #191919;
}

.project .container {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}
.project .container p {
  color: #F94D1C;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  margin-left: 200px;
}
.project .container .bold {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  color: #191919;
}
.project .grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 30px;
}
.project .grid-container p {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  color: #191919;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e7e7e7;
}
.project .grid-container a {
  color: #191919;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  float: right;
}
.project .grid-container a:hover {
  font-weight: 600;
}
.project .grid-container a:hover:active {
  color: #F9D783;
}
.project .grid-container .project-pic {
  margin-bottom: 60px;
}
.project .all-recent .container .all-btn {
  color: #F0EFE9;
  background-color: #191919;
  border-radius: 40px;
  padding: 10px;
  padding-inline: 40px;
}
.project .all-recent .container .all-btn:hover {
  background-color: gray;
}

.our-team {
  background-color: #edcf86;
}
.our-team .container {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}
.our-team .container .thin {
  color: #F94D1C;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}
.our-team .container .bold {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  color: #191919;
}
.our-team .container .all-btn {
  color: #191919;
  background-color: transparent;
  border-radius: 40px;
  padding: 10px;
  padding-inline: 40px;
}
.our-team .container .all-btn:hover {
  color: #e7e7e7;
  background-color: black;
}
.our-team .team-pic .container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  margin-top: -120px;
}
.our-team .team-pic .container .ourteam1 {
  display: grid;
}
.our-team .team-pic .container .ourteam1 .bold {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  margin-top: 16px;
}
.our-team .team-pic .container .ourteam1 .thin {
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.our-team .team-pic .links .container {
  display: flex;
  justify-content: center;
  padding-left: 90px;
}
.our-team .team-pic .links .container a {
  border: none;
  border-radius: 10px;
  padding: 9px;
  background-color: rgba(142, 142, 142, 0.5);
  margin-left: -50px;
}
.our-team .team-pic .links .container a:hover {
  background-color: #191919;
}

.our-client .container {
  background-color: #FFFFFF;
}